<h1>Try to login yo</h1>

<form action="/logins" method="POST">
	<input type="text" name="login" value="" placeholder="Username"><br>
	<input type="password" name="password" value="" placeholder="Password"><br>
	<input type="submit" name="commit" value="Login">
</form>